/* body style code */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff5a8;
  font-size: 1rem;
}
h1,
h2,
h3,
p,
a {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  max-width: 90ch;
}
h1 {
  font-family: "Moul", serif;
  font-size: 5rem;
  color: white;
  margin-left: 2rem;
}
h2 {
  font-family: "Moul", serif;
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

/* this is header*/
header {
  background-image: url(images-media/hero-image.png);
  width: 100%;
  min-height: 100vh;
}
nav {
  background-color: #fff5a8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.nav-left a {
  margin-left: 1.5rem;
}
.main-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 90vh;
}

.cta-button {
  height: 4rem;
  min-width: fit-content;
  text-transform: uppercase;
  background-color: chocolate;
  border-color: #fff5a8;
  border-radius: 6.498px;
  align-self: flex-start;
  margin-left: 2rem;
}
.cta-button a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
/* this is the body-------*/
main {
  margin: 2rem;
}
/* this is a footer*/

footer {
  background: #2e6118;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  padding: 0 2rem;
}
footer a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-contents {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.left-footer ul {
  list-style: none;
}
.social-media-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
  gap: 0.5rem;
}
.social-media-links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.social-media-links li {
  padding-left: 2rem;
}

/* this is contact page----------*/

/* this is a forrmm */
.contact-form {
  width: 40%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  height: 40vh;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;

  margin-bottom: 1.5rem;
}
label {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

input,
textarea {
  width: 97.6%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background: #c3e0c2;
}

button {
  color: white;
  background-color: chocolate;
  border-color: #fff5a8;
  border-radius: 6.498px;
  height: 2.5rem;
  max-width: fit-content;
  padding: 0rem 2rem;
  align-self: center;
}

button:hover {
  background-color: #9d420a;
}

/* this is team area */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 135vh;
  padding-bottom: 2rem;
}
.members {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.team {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem;
  padding-top: 4rem;
  width: 100%;
}
.team-member {
  width: 30%;
  padding-top: 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* today's add*/
.horizontal-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.blog-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  border-radius: 20px;
  padding: 1.5rem;
}
.blog-card:hover {
  background-color: #b3d0ac;
  cursor: pointer;
}
.blog-card h3 {
  max-width: 25ch;
  text-align: center;
}
.blog-card a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-items {
  display: flex;
  justify-content: center;
  width: 100%;
}

.summary-card .menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
